// Global layout styles

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

* {
	margin-top: 0;
	margin-bottom: 0;
}

// Place margin between sibling elements only
* + * {
	margin-top: $default-spacing;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	& + p {
		margin-top: spacing();
	}
}

.u-container {
	@extend %clearfix;
	
	width: 95%;
	max-width: $grid-container-width;

	margin-left: auto;
	margin-right: auto;
}
.u-container--wide {
	max-width: 1140px;
}

%row,
.u-row {
	@extend %clearfix;

	width: 100%;
}
