// Grid framework.
// Builds column names based on global variable $grid-column-denominators

// Grid wrapper
.u-columns {
	@extend %clearfix;

	// Negative margin left, allows room for first column gutter
	margin-left: -$grid-gutter;
}

.u-column {
	float: left;
	width: 100%; // Default to full width

	margin-top: 0;
	padding-left: $grid-gutter;

	.u-columns.has-no-gutter > & {
		padding-left: 0;
	}
}

// Build columns grid based on $grid-column-denominators.
// Creates classes such as:
// 		column-1-2
// 		column-2-3
// For each denominator
@each $denominator in $grid-column-denominators { 
	// For 1 to the current denominator (non-inclusive)
	@for $numerator from 1 through ( $denominator - 1 ) { 

		.u-column--#{ $numerator }-#{ $denominator } {
			width: percentage( $numerator, $denominator )
		}

		.u-column-offset--#{ $numerator }-#{ $denominator } {
			margin-left: percentage( $numerator, $denominator )
		}

	}
}
