// Global typography styles

// @font-face imports


// General typography
html,
body {
	font-family: $body-stack;
	line-height: 1.4;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: $heading-stack;
	line-height: 1.1;
}
