// Global typography styles

// @font-face imports


// General typography
html,
body {
	font-family: $body-stack;
	line-height: 1.6;
}

body {
	font-size: 1.125em;

	@include respond( em(600px) ) {
		font-size: 0.9em;
	}
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: $heading-stack;
	line-height: 1.1;
}
