// Logos

.o-logo {
	float: left;

	display: block;
	width: auto;
	height: auto;
	max-height: 100px;

	margin: spacing(2) 0;

	@include respond( em(440px) ) {
		max-height: 70px;
	}
}

.o-logo--right {
	float: right;
}
