// Block Sections

.o-section {
	padding: spacing(4) 0 spacing(6);
	margin-top: 0;

	.o-title {
		text-align: center;
	}
}

.o-section--dark {
	background-color: $background-default-color;
	color: #fff;
}

.o-section--pattern {
	background-image: image("pattern.jpg");
	background-repeat: repeat-x;
	background-position: 100px center;
	background-size: auto 100%;
}
