// Titles

// Project wide titles
.o-title {
	font-family: $heading-stack;
	font-weight: 300;
	text-transform: uppercase;
}

.o-title--primary {	
	font-size: 2.8em;

	@include respond( em(500px) ) {
		font-size: 2em;
	}
}
