// Configuration
// Global project variables
// No classes or CSS logic should be added here.


// Asset Paths
// Each of these variables should end with a trailing slash.

	// Assets directory. Should be root for PHP installs and the theme directory for WordPress installs.
	$assets-path: "../" !default; 


// 2-step Colour Scheme
// Create variables with rgb()/hex code colours.
// Then assign these to variables that represent specific parts of the interface.
	$grey: rgb( 60, 60, 60 );
	$blue: #2200CC;


	$text-default-color: $grey;
	$link-default-color: $blue;
	$link-hover-color: lighten( $link-default-color, 10% );


// Typography

	// Font Families
  // You can remove either fallback as necessary.
	$sans-serif-fallback: "Soleil", "Avenir Next", "AvenirNext-SemiBold", "Futura-Medium", Futura, "Futura Std", "Droid Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
	$serif-fallback: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

	$body-stack: "WEBFONT", #{$sans-serif-fallback};
	$heading-stack: #{$serif-fallback};

// Grid layout
// Spacing multiples can be applied with the spacing() function.
$spacing-unit: 15px;
$grid-container-width: 1170px;
$grid-column-denominators: 2, 3, 4;
$grid-gutter: $spacing-unit * 2;


// Third Party
// Add any third party libraries (e.g. Slick, Bourbon) config here.
