// Cross Browser standard resets

// Viewport Rules - Mainly for IE11
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

// Box sizing reset
*, *:before, *:after { 
  box-sizing: border-box; 
}

// Reset link styles
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

// Reset SVG size and color by default to inherit
svg {
	width: 1em;
	height: 1em;

	fill: currentColor;
	stroke: currentColor;
}

// Clearfix
%clearfix,
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

b,
strong {
	font-weight: bold;
}

main {
	margin-top: 0;
}
