// Spacing utility classes

.u-no-spacing {
	margin-top: 0 !important;
}

.u-spacing-top {
	margin-top: spacing(2) !important;
}

.u-negative-spacing-top {
	margin-top: spacing(-10) !important;

	@include respond( em(950px) ) {
		margin-top: spacing(-4) !important;
	}
}
