// List mixins

// Remove all margin and padding on a list element. Removes the bullet points or numbers from the list.
// @param  number $margin-bottom  An amount margin-bottom to keep on the list.
// @param  number $margin-top     An amount margin-top to keep on the list.
@mixin reset-list( $margin-bottom: 0, $margin-top: 0 ) {
	@if $margin-bottom == 0 and $margin-top == 0 {
		margin: 0;
	} @else {

		@if $margin-bottom == $margin-top {
			margin: $margin-bottom 0;
		} @else {
			margin: $margin-top 0 $margin-bottom;
		}

	}

	padding: 0;

	> li {
		list-style-type: none;
	}
}


// Make a list element display horizontally, rather than vertically.
// @param  number $spacing The amount of space between each list item.
@mixin horizontal-list( $spacing: 0 ) {
	@include reset-list();

	display: inline-block;

	> li {
		display: inline-block;

		@if $spacing != 0 {
			margin-left: $spacing;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
